# block all zips and PDFs

*.zip

*.pdf

*.iml

# block all .class files

*.class

# fuck this dir in particular

out/*

2670/Homework01/Exercise01/out/*

# fuck this file in particular

2670/Homework01/Exercise01/Exercise01.iml