#ignore these file extensions
-----------------------------
*.zip
*.pdf
*.iml
*.html
*.txt
*.class

--------------------------
#ignore these folder names
--------------------------
**/out
**/.idea
**/META-INF
**/Testing
**/.idea